<!DOCTYPE html>
<html>
<%- include('./head.ejs') %>

    <body >
        
        <%- include('./navigation.ejs') %>
        
        <h3>TEGNOLOGÍAS</h3>
        <ul>
            <li>EXPRESS.JS</li>
            <li>EJS</li>
            <li>MYSQL</li>
            <li>DOCKER</li>
            <li>BOOTSTRAP</li>
            <li>GIT Y GIT HUB</li>

        </ul> 
    </body>

</html>